    <section class="suite">
      <h1>iwlist-parser</h1>
      <dl>
        <section class="suite">
          <h1>required</h1>
          <dl>
            <dt>should be a function</dt>
            <dd><pre><code>expect(iwlistParser).to.be.a('function');</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
