body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: '';
}
body {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}
h1,
h2,
h3,
h4,
h5,
p,
li,
input {
  font-size: 12px;
  color: black;
}
p,
li {
  color: grey;
}
li {
  width: auto;
}
#content {
  margin-left: 10px;
  margin-top: 10px;
}
.container {
  padding-left: 10px;
}
.command {
  background-color: #f5822b;
  cursor: pointer;
}
.command:hover {
  background-color: grey;
  color: white;
}
.command:active {
  background-color: red;
  color: white;
}
