extends layout

block content
	.container
		h1 Wifi Devices
		h2 Commands
	hr
	.container
		h3 Add Devices
		input.host(value="http://192.168.0.11:3000/")
		ul
			li.command.addDevice add devices
	hr
	.container
		h3 Device list
		ul.deviceList
	hr
	.container.deviceDetails
		h3 Device Details
		.container


