doctype 5
html
    head
        title Wifi Tracker
        link(rel='stylesheet', href='/css/style.css')
        script(src="/js/libs/jquery-1.9.1.min.js")
        script(src="/watch.js")
        script(src="/js/libs/superagent.js");
        script(src="/js/main.js")
    body
        block content

       